:root {
  --bgcolor: #1d2328;
  --detailgold: #9A7B36;
  --detailblue: #1ebad5;
  --containerblue: #2a2d43;
}

.App {
  text-align: center;
  background-color: var(--bgcolor);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(65px + 2vmin);
  color: var(--detailgold);
  font-family: "League Spartan";
  font-weight: 550;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subtitle {
  font-size: calc(40px + 2vmin);
  color: white;
}
